/* Estilos para el componente Photos */
.photos {
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photos__title {
    font-size: 5rem;
    margin: 3rem 0;
}

.photos__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 520px;
}

.photos__item {
    background-color: var(--color-link);
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}